@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", cursive;
}

#home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg,#4B56D2  70%,#82C3EC 30%);
}
.container{
    display: flex;
    align-items: center;
}
.image{
    padding:90px 10%;
    animation: imageanim .4s linear;
}

@keyframes imageanim {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
}
.content{
    padding: 5px 5%; 
    animation: textanim .4s linear .6s backwards ;

}

@keyframes textanim {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
}
.content h1{
    font-size: 4rem;
    font-weight: 700;
}
.content p{
    font-size: 2rem;
    font-weight: 400;
}