@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

:root{
   --peru:#cd9452;
   --black:#222;
   --white:#fff;
   --light-black:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --dark-bg:rgba(0,0,0,.7);
   --border:.1rem solid #aaa;
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Dosis', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
   text-transform: capitalize;
}
* > img{
  user-select: none;
  pointer-events: none;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
  background-color: var(--peru);
}

section{
  padding:5rem 10%;
}

.heading{
  text-align: center;
  margin-bottom: 3rem;
}

.heading span{
  font-size: 2.5rem;
  color:var(--peru);
}

.heading h3{
  font-size: 4.5rem;
  color:var(--black);
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  background: var(--peru);
  color:var(--white);
  font-size: 2rem;
  cursor: pointer;
  padding:1rem 3rem;
}

.btn:hover{
  letter-spacing: .2rem;
  color: #edeef7;
  background: var(--peru);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Oswald", cursive; */
}

#home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg,#4B56D2  70%,#82C3EC 30%);
}
.container{
    display: flex;
    align-items: center;
}
.image{
    padding:90px 10%;
    animation: imageanim .4s linear;
}


.about{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;
}

.about .image{
  flex:1 1 43rem;
  padding: 5px 5px;
  padding-right: 20px;
}

.about .image img{
  width: 100%;
  padding: 0px 0px;
}

.about .content{
  flex:1 1 41rem;
}

.about .content .title{
  font-size: 4rem;
  color:var(--black);
}

.about .content p{
  font-size: 1.7rem;
  color:var(--light-black);
  padding:1.5rem 0;
  line-height: 2;
}

.about .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  margin-top: 3rem;
}

.about .content .icons-container .icons{
  flex:1 1 16rem;
  text-align: center;
  background: var(--light-bg);
  padding:3rem 2rem;
}

.about .content .icons-container .icons img{
  height: 5rem;
}

.about .content .icons-container .icons h3{
  padding-top: 1rem;
  font-size: 2rem;
  color:var(--light-black);
  font-weight: normal;
}



/* @keyframes imageanim {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
}
.content{
    padding: 5px 5%; 
    animation: textanim .4s linear .6s backwards ;

}

@keyframes textanim {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
} */
.content h1{
    font-size: 4rem;
    font-weight: 700;
}
.content p{
    font-size: 2rem;
    font-weight: 400;
}



    
  .contact-section{
    background: url('./images/ddd.png');
    background-size: cover;
    
  }
  
  

  
  .contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    margin-top: 120px;
  
  }
  
  .contact-info i{
    margin-right: 20px;
    font-size: 25px;
  
  }
  
  .contact-form{
    max-width: 700px;
    margin-right: 50px;
  }
  
  .contact-info, .contact-form{
    flex: 1;
  }
  
  .contact-form h2{
    color: rgb(218, 216, 216);
    text-align: left;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 60px;
    align-self: flex-start;
  }
  
  .contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(25% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .contact-form .text-box:nth-child(1),
  .contact-form .text-box:nth-child(2){
    margin-right: 20px;
  }
  
  .contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
   resize: none;
  }
  
  .contact-form .send-btn{
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
    margin-bottom: 20px;
  }
  
  .contact-form .send-btn:hover{
    background: #0582E3;
  }
  
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-weight: 300;
    color: #fff;
    padding: 1.3rem;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
  
    
  }
  .footer .foot{
    margin-left: 120px;
    font-size: 15px;
    margin: 10px 450px;
    margin-left: 30px;
    color: #777;
    align-items: left;
  }
  .footer .social-links{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  
  }
  .footer .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }
  
  #footer{
    color: #777;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
  margin: 10px 10px;
  }
  

  @media (max-width:1200px){

    section{
       padding:3rem 5%;
    }
 
 }
 
 @media (max-width:991px){
 
    section{
       padding:3rem 2rem;
    }
 
    html{
       font-size: 55%;
    }
 
    .home .slide .content h3{
       font-size: 15vw;
    }
 
 }
 
 @media (max-width:768px){
 
    #menu-btn{
       display: inline-block;
    }
 
    .fa-times{
       transform: rotate(180deg);
    }
 
    .header .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       background-color: var(--white);
       border-top: var(--border);
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
    .header .navbar a{
       display: block;
       margin:2rem;
    }
 
    .swiper-button-next,
    .swiper-button-prev{
       top:initial;
       bottom:1rem;
    }
 
    .menu .slide .box-container .box{
       flex-flow: column;
       text-align: center;
    }
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .home .slide .content h3{
       font-size: 7rem;
    }
 
 }